<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <select id="list" resultType="com.sky.entity.Dish">
        select d.*,c.name as categoryName from dish as d
        left join category as c on d.category_id = c.id
        <where>
            <if test="name != null and name !=''">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and d.category_id=#{categoryId}
            </if>
            <if test="status !=null">
                and d.status=#{status}
            </if>
        </where>
        order by d.update_time desc
    </select>
    <delete id="deleteById">
        delete from dish where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>